.app {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  background-color: rgb(204, 204, 204);
}
main {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: 15% 60% 25%;
}

.header {
  background-color: rgb(24, 23, 23);
  padding-left: 1rem;
  display: flex;
  color: white;
  align-items: center;
  height: 4rem;
}


.top-row,
.main-chart,
.right-noti {
  background-color: floralwhite;
  border-radius: 6px;
  margin: .6rem auto;
  padding: .6rem .4rem;
}

.top-row {
  height: 11rem;
  display: flex;
  overflow-x: auto;
}
.top-row div {
  width: 11rem;
  margin: .4rem;
}


.right-noti {
  width: 92%;
  margin-left: .6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-noti div {
  padding: .6rem 1rem;
  display: flex;
  align-items: center;
}

.right-noti h3 {
  margin-bottom: .8rem;
  text-align: center;
  font-size: 1.8rem;

  text-decoration: underline;
}

.right-noti .user-time {
  font-size: 1.4rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.total-time {
  font-size: 1.6rem;
  font-weight: bold;
}


aside {
  background-color: rgb(24, 23, 23);
  margin: .6rem .6rem .6rem .3rem;
  border-radius: 6px;
}

aside div {
  display: flex;
  flex-direction: column;
}
aside div h3 {
  color: floralwhite;
  padding: 1rem 1rem .4rem 1rem;
  border-bottom: 1px solid floralwhite;
}

aside div button {
  width: 90%;
  padding-top: .6rem;
  padding-bottom: .6rem;
  margin-left: 1.4rem;
  align-self: center;
  background: transparent;
  border: none;
  text-align: end;
  padding-right: 1rem;
  color: rgb(255, 250, 240);
  font-size: 1rem;
}

aside div button:hover {
  cursor: pointer;
  background-color: rgb(116, 114, 114);
}
button.active {
  background-color: rgb(204, 204, 204);
  color: rgb(24, 23, 23);
}

.loader {
  display: block;
  margin: auto;
}